body {
    background-color: #fcfaf1;
}

.jumbotron {
    margin: 50px auto;
    max-width: 650px;
    background-color: #244069;
    color: #fcfaf1;
}

.hideBtn {
    display: none;
}

.unhideBtn {
    display: inline;
}

#message, #errorMessage {
    color: red;
}

#firstName, #lastName, #email {
    width: 150px;
}

#date, #dateIn, #dateOut {
    width: 185px;
}

#email {
    width: 220px;
}

#hoursWorked {
    width: 65px;
}

#nav {
    background-color: #ff2863;
    
}

#labelRegister {
    text-align: center;
}


