<div class="d-flex justify-content-center jumbotron" id="jumbotron">
    <form id="signInForm">
        <div class="form-group">
            <label for="exampleInput">Email</label>
            <input name="email" type="email" class="form-control" id="exampleInput" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div id="errorMessage"></div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>