<div id="jumbotronAbout" class="jumbotron">
    <h1 class="display-4"><i class="fas fa-business-time"></i>Employee Sign-in App</h1>
    <p class="lead">This is a simple sign-in app where users can create an account, log in, and submit timesheet records.</p>
    <hr class="my-4">
    <p>
        The app was created using Bootstrap, JavaScript, Express.js, and mongoose. 
        For a detailed look at the code, click the button below to check out the project on github.
        - Jorge G.
    </p>
    <a class="btn btn-primary btn-lg" href="https://github.com/jgabitto/Employee-Signin-App" target="_blank" rel="noopener noreferrer" role="button">Learn more</a>
    <small class="d-block">
        Icon used on every page was made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank" rel="noopener noreferrer" >Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank" rel="noopener noreferrer" >www.flaticon.com</a>
    </small>
</div>